* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box {
    width: 400px;
    height: 200px;
    background-color: aqua;
    margin: 20px;
    border-radius: 30px;
    margin-left: 38%;
}
.box_2 {
    transform: translateX(100px);
    transition: all .5s ease;
    opacity: 0;
}
.box_3 {
    transform: translateX(-100px);
    transition: all .5s ease;
    opacity: 0;
}
.box_4 {
    transform: scale(.7);
    transition: all .5s ease;
    opacity: 0;
}
.box_5 {
    transform: rotate(30deg);
    transition: all .5s ease;
    opacity: 0;
}
.box_6 {
    transform: rotate(-60deg);
    transition: all .5s ease;
    opacity: 0;
}
.box_7  {
    transform: skew(50deg);
    transition: all .5s ease;
    opacity: 0;
}